pkgbase = negpy-bin
	pkgdesc = A tool for processing film negatives with GPU acceleration (AppImage)
	pkgver = 0.62.0
	pkgrel = 1
	url = https://github.com/marcinz606/NegPy
	arch = x86_64
	license = GPL-3.0-only
	depends = glibc
	depends = gcc-libs
	depends = dbus
	depends = libdrm
	depends = libglvnd
	depends = expat
	depends = fontconfig
	depends = freetype2
	depends = icu
	depends = libjpeg-turbo
	depends = libxml2
	depends = onetbb
	depends = systemd-libs
	depends = libusb
	depends = wayland
	depends = libx11
	depends = libxcb
	depends = xcb-util-wm
	depends = xcb-util-keysyms
	depends = libxext
	depends = libxfixes
	depends = libxrender
	depends = zlib
	depends = sane
	depends = libgphoto2
	depends = vulkan-icd-loader
	optdepends = vulkan-radeon: AMD GPU acceleration
	optdepends = vulkan-intel: Intel GPU acceleration
	optdepends = nvidia-utils: NVIDIA GPU acceleration
	optdepends = sane-airscan: network eSCL/AirScan scanner support
	provides = negpy
	conflicts = negpy
	conflicts = negpy-git
	source = negpy-bin-0.62.0.AppImage::https://github.com/marcinz606/NegPy/releases/download/0.62.0/NegPy-0.62.0-x86_64.AppImage
	source = LICENSE::https://raw.githubusercontent.com/marcinz606/NegPy/0.62.0/LICENSE
	sha256sums = ae3223b7d77440cf989d3191a03c2dbda2c12662ddbaabc00755aa2604f8829b
	sha256sums = 3972dc9744f6499f0f9b2dbf76696f2ae7ad8af9b23dde66d6af86c9dfb36986

pkgname = negpy-bin
